body {
    color:whitesmoke;
    background-color: lightpink;
    resize:both

}

header {
 font-family: Cinzel Decorative;
 text-align: center;
 width: auto;
 height: 300px, auto;
 margin: 30px;

}

h1 {
    font-weight: 800;
    font-size: 55px;
    
    

}

h3 {
    text-align: center;
    font-size: 45px;
}

#myName {
    font-size: 120px;
}



#aboutMe {
    font-size: 24px;
    text-align: center;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#socialMedia {
    font-size: 24px;
    width: 100vw;
    height: 800px;
    display:inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
   height: 100px;
   width: 100px;
   margin-top: 15px;
}

footer {
    height: 300px;
    width: 300px;
    margin-top: 15px; 
}

@media (max-width: 576px) {
    h3{
        font-size: 24px;
    }

    #aboutMe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin: 10px;
    }

    #socialMedia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 10px;
    }
}